<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-light">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Event:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div id="donutGraph" class="col-4">
              <svg id="chart" preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 250"></svg>

            </div>
            <div id="eventData" class="col-8 ">
              <form id="donutData">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventDescription" disabled>
                <label for="eventDescription">Description</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="eventDueDate" disabled>
                <label for="eventDueDate">Due Date</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventCategory" disabled>
                <label for="eventCategory">Category</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventPhase" disabled>
                <label for="eventPhase">Event Phase</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="eventNextPhase" disabled>
                <label for="eventNextPhase">Next Phase Change</label>
              </div>
              </form>
            </div>
            <div id="thesholdData" class="col-5 ">

            </div>
          </div>
      </div>
      <div class="modal-footer" id="buttons">
        <button id="editEvent" type="button" class="btn btn-primary" aria-label="Close" data-bs-toggle="modal" data-bs-target="#entryModal" data-select="update-event">Edit Event</button>
  <button id="deleteEvent" type="button" class="btn btn-danger" >Delete Event</button>
  <script src="/js/editEvent.js"></script>
      </div>
    </div>
  </div>
</div>