<section class="card m-3">
 <p>user is signed in sees the chart summary and any other information we want </p>

 {{!-- div id for the bar graph --}}
  <div id="scoutblock1" class="svg-container"></div>
{{!-- the modal that shows up upon clicking the bar graph --}}
  {{> event-modal}}
</section>
  <script type="module" src="/js/donut.js"></script>
  <script type="module" src="/js/bargraph.js"></script>