<section class="card m-3">
 <p>text info when user lands on the page and is not logged in. <br> prompting to sign in and try for $0.99 billed annually for $300 for a huge discount of 20% </p>
</section>