<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/LP.assets/LP.css/LP.css" />
        <script src="https://kit.fontawesome.com/cd4d674acb.js" crossorigin="anonymous"></script>
        <title>AccessCal| Full-Stack Application</title>
    </head>
    <!-- Interactive Social Media Buttons - Baackup-->
    <body>
        <main class="hero" alt="dark black back drop">
        <header>
          <section class="social-icons-wrapper">
            <a href="https://www.tiktok.com/@thoscalle?is_from_webapp=1&sender_device=pc" class="icon tiktok" target="_blank">
              <span><i class="fab fa-tiktok"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/thomas-calle/" class="icon linkedin" target="_blank">
              <span><i class="fab fa-linkedin"></i></span>
            </a>
            <a href="https://www.instagram.com/thoscalle" class="icon instagram" target="_blank">
              <span><i class="fab fa-instagram"></i></span>
            </a>
            <a href="https://github.com/ThomasCalle" class="icon github" target="_blank">
              <span><i class="fab fa-github"></i></span>
            </a>
          </section>
            <!-- Navigation Bar -->
            <nav class="menu">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#resume">Our Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <!-- Title name of my portfolio -->
            <h1>AccessCal</h1>
              <img src="/LP.assets/LP.image/AccessCal.png" width="390.28" height="585.14" class="avatar" alt="AccessCal Logo"/>
            <section id="about"class="container center" >
              <h2>About</h2>
              <p>
                Welcome to AccessCal our Interactive Full-Stack Application developed for those with Attention-Deficit/Hyperactivity Disorder(ADHD). The application provides a comprehensive suite of tools tailored to those with (ADHD)
                allowing the subject to intergrate a visual event tracker tailored their personal devices in order to meet the subjects needs.
                AccessCal offers a streamlined and intuitive user interface, allowing users to effectively manage their own visual event tracker.

              </p>
                <br>
              <p>
                ISERT USER STORY IF NEEDED OR ANY OTHER TEXT
              </p>
            </section>
        <!-- FLEX BOX ROW BODY FOR TEAM RESUME AKA. 'TEAM ABOUT ME' SECTION-->
        <main id="resume" class="container" >
            <section class="row justify-center">
                <article class="card-column">
                    <figure class="card code-card">
                        <h2 class="card-header">Steve Cardie</h2>
                        <aside class="card-body">
                            <p>Lead.</p>
                        </aside>
                        <pre class="code-block">
                          <a href="https://github.com/omgthegreenranger" target="_blank"><img src="/LP.assets/LP.image/Steve Cardie.jpg" width="340" height="400" alt="photo of Steve Cardie."></a>
                        </pre>
                    </figure>
                </article>
                <!-- Thomas' Section -->
                <article class="card-column">
                    <figure class="card code-card">
                        <h2 class="card-header">Thomas Calle</h2>
                        <aside class="card-body">
                            <p>Lead.</p>
                        </aside>
                        <pre class="code-block">
                            <a href="https://github.com/ThomasCalle" 
                            target="_blank"><img src="/LP.assets/LP.image/thomas-retrowave-2.JPEG" width="340" height="400" alt="photo of Thomas Calle."></a>
                        </pre>
                    </figure>
                </article>
                <!-- Stefan's Section -->
                <article class="card-column">
                    <figure class="card code-card">
                        <h2 class="card-header">Stefan Marinov</h2>
                        <aside class="card-body">
                            <p>Lead.
                            </p>
                        </aside>
                        <pre class="code-block">
                          <a href="https://github.com/ScorpionFiko" target="_blank"><img src="/LP.assets/LP.image/Stefan Marinov.jpg" width="340" height="400" alt="photo of Stefan Marinov."></a>
                        </pre>
                    </figure>
                </article>
                <article class="card-column">
                        </pre>
                    </figure>
                </article>
            </section>
        </main>
        <!-- Contact containter -->
        <section class="container center" id="contact">
            <h1>Contact</h1>
            <section class="form-wrapper">
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" /><br /><br />

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" /><br /><br />

                    <label for="message">Message:</label>
                    <textarea id="message" name="message"></textarea><br /><br />

                    <input type="submit" value="Submit" />
                </form>
                <section class="contactinfo">
                  <br>
                  <p>Phone: (416)JOE-BLOW</p>
                  <p>Email: joe.blow@outlook.com</p>
                </section>
            </section>
        </section>
        <!-- Footer Section and Ending Message -->
          <footer>
            <section class="footer" id="footer">
              <section class="form-footer">
                <h5>Designed by Steve Cardie, Thomas Calle & Stefan Marinov.</h5>
                <p>
                <h6>&copy; 2023 AccessCal. UofT Full-Stack Application. Confidential and Proprietary. All Rights Reserved.</h6>
                </p>
             </section>
          </footer>
    </body>
</html>
<!-- /* End: footer section*/
/* End of this HTML file, thank you for viewing */ -->