
        <div>
        <form id="sub-cat-form">
          <input type="text" name="name">
          <input type="text" name="type">
          <div id="t1"></div>
          <div id="t2"></div>
          <div id="t3"></div>
          </select>
        </form>
