{{!-- Input for new Category --}}
    <h1 class="modal-title fs-5" id="entryModalLabel">New Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
        <form id="sub-cat-form">
          <input type="text" name="name">
          <input type="text" name="type">
          <div>
          <select name="t1-int"></select>
          <select name="t1-dur"></select></div>
          <div>
          <select name="t1-int"></select>
          <select name="t1-dur"></select></div>
          <div>
          <select name="t1-int"></select>
          <select name="t1-dur"></select></div>
          </select>
        </form>
        <button id="sub-new-cat" type="button" class="btn btn-primary">Add New Category</button>
        </div>
      </div>
    </div>
</div>