{{!-- Input for new Category --}}
        <h1 class="modal-title fs-5" id="entryModalLabel">New Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <input type="text" name="name">
          <input type="text" name="description">
          <input type="date" name="dueDate">
          <select id="cat-select" type="category" name="category">
          </select>
        </div>
      </div>
    </div>
</div>