<form id="sub-cat-form " class="form mb-4 mx-2">
  <div class=" mb-4 mx-2">

    <label for="catName" class="form-label">Category Name:</label>
    <input type="text" name="catName" class="form-control">
  </div>
  
  <div class=" mb-4 mx-2">

    <label for="catType" class="form-label">Category Description:</label>
    <input type="text" name="catType" class="form-control">
  </div>

  <div id="t1"></div>
  <div id="t2"></div>
  <div id="t3"></div>
</form>