<!DOCTYPE html>
<html lang="en">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


</head>

<body>
  <nav class="navbar justified bg-info">
    <div class="">
      <div class="float-left">
        <a class="navbar-brand text-light p-3" href="/">
          <h1 class="m-2"><i class="fa fa-microchip"></i>Tech Blog
          </h1>
        </a>
      </div>
    </div>
    <div class="">
      <div class="content-center float-right">
        {{#if firstName}}
        <H3 class="text-light fst-italic text-center">Welcome {{firstName}} </H3>
        {{/if}}
        <a id="home" class="navbar-brand text-light p-3 " href="/"><i class="m-1 fas fa-home"></i>Home</a>
        <a id="dashboard" class="navbar-brand text-light p-3 " href="/dashboard"><i
            class="m-1 fas fa-dashboard"></i>Dashboard</a>
        {{#if loggedIn}}
        <a id="logout" class="navbar-brand text-light p-3" href="/"><i
            class="m-1 fas fa-right-from-bracket"></i></i>Sign Out</a>
        {{ else }}
        <a href="" id="login" class="navbar-brand text-light p-3" data-bs-toggle="modal" data-bs-target="#loginModal"><i
            class="m-1 fas fa-right-to-bracket"></i></i>Sign In</a>
        {{/if}}
      </div>
    </div>

  </nav>
  {{{ body }}}
  {{> login-modal}}

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/dayOfYear.js"></script>
  <script>dayjs.extend(window.dayjs_plugin_dayOfYear)</script>
  <script src="./js/index.js"></script>
</body>
</html>
