<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="event-name">event name:</label>
        <input class="form-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        <label for="event-date">date ($):</label>
        <input class="form-input" type="number" id="event-date" name="event-date" />
      </div>
      <div class="form-group">
        <label for="event-description">description:</label>
        <textarea class="form-input" id="project-description" name="project-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if event.length}}
  <div class="col-md-6 project-list">
    <h3>Current Events:</h3>

    {{#each event as |event|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../../public/js/profile.js"></script>
