<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- This will be the profile settings --}}
{{!-- This will also be "edit categories" with a list. --}}

</div>

<script src="../../public/js/settings.js"></script>
