.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.justified {
  justify-content: space-between;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;

  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#eventModal {
  --bs-modal-width: 50%;
}

#loginModal {
  --bs-modal-width: 25%;
}

@media screen and (max-width: 998px) {
  #eventModal {
    --bs-modal-width: 62.5%;
  }
  #loginModal {
    --bs-modal-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  /* updates the styling of the top header container of the webpage */
  .justified {
    justify-content: center;
  }

  #eventModal {
    --bs-modal-width: 75%;
  }
  #loginModal {
    --bs-modal-width: 75%;
  }
}

@media screen and (max-width: 498px) {
  /* updates the styling of the top header container of the webpage */

  .justified {
    justify-content: center;
  }

  #eventModal {
    --bs-modal-width: 100%;
    flex-direction: column;
  }
  #loginModal {
    --bs-modal-width: 100%;
  }
}
